body {
    background:blue;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
}
h4 {
    color: red;
}
.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
img {
    box-shadow : 0 6px 8px 0 rgba(2, 2, 2, 0.2);
    width: 37%;
    border-radius: 4px;
}
.column {
    display: inline;
    padding: 10px;
}
#camera {
    width: 500px;
    height: 400px;
    border: 1px solid red;
}
img:hover{
    border-radius: 140px;
}
